@{
    ViewData["Title"] = "GetActiveBookings";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@model IEnumerable<KBS_FunEvents_Web_2024.Models.TblBuchungen>
<div class="text-center">
    <div class="container">
        <hr />
        <h1>Meine aktiven Buchungen</h1>

        <hr />
        @if (Model.Any())
        {
            <table class="table table-striped notopborder">
                <thead>
                    <tr>
                        <th>Eventbezeichnung</th>
                        <th>Eventbeginn</th>
                        <th>Startort</th>
                        <th>Gebuchte Plätze</th>
                        <th>Anzahl Teilnehmer</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(itemModel => item.EdEvDaten.EtEvent.EtBezeichnung)</td>
                            <td>@Html.DisplayFor(itemModel => item.EdEvDaten.EdBeginn)</td>
                            <td>@Html.DisplayFor(itemModel => item.EdEvDaten.EdStartOrt)</td>
                            <td>@Html.DisplayFor(itemModel => item.BuGebuchtePlaetze)</td>
                            <td>@Html.DisplayFor(itemModel => item.EdEvDaten.EdMaxTeilnehmer)</td>
                            <td>
                                <a asp-controller="Dashboard" asp-action="GetDetailBookings" asp-route-pId="@item.BuBuchungsId">Zur Buchung</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <p class="text-danger">Aktuell sind keine aktiven Buchnung verfügbar!</p>
        }
        <br />
        <a asp-action="Index">Zurück zum Dashboard</a>

    </div>
</div>
