@model KBS_FunEvents_Web_2024.ViewModel.BookingViewModel

@{
    ViewData["Title"] = "Booking";
}

<h1>Booking</h1>

<div>
    <h4>BookingViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtEventId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtEventId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdPreis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdPreis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdBeginn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdBeginn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdEnde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdEnde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdStartOrt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdStartOrt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdZielort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdZielort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdMaxTeilnehmer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdMaxTeilnehmer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdAktTeilnehmer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdAktTeilnehmer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdFreigegeben)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdFreigegeben)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdRabatt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdRabatt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdVeranstalterBenachrichtigt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdVeranstalterBenachrichtigt)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.EdEvDatenId">Edit</a>*@ |
    <a asp-action="Index">Back to List</a>
</div>
