@model List<KBS_FunEvents_Web_2024.ViewModels.EventOverviewViewModel>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>EventViewModel</h4>
    <hr />
    @foreach (var item in Model)
    {

        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => item.EtBezeichnung)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => item.EtBezeichnung)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => item.EdPreis)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => item.EdPreis)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => item.EdBeginn)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => item.EdBeginn)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => item.EdStartOrt)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => item.EdStartOrt)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@item.EtEventId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
</div>
