@model List<KBS_FunEvents_Web_2024.ViewModels.EventOverviewViewModel>

@{
    ViewData["Title"] = "View";
}

<div>

    <hr />
    <h1>
        Alle Events im Überblick
    </h1>

    

    <hr />
    @foreach (var item in Model)
    {

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.EtBezeichnung)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.EtBezeichnung)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.EkKatBezeichnung)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.EkKatBezeichnung)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.EvFirma)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.EvFirma)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@item.EtEventId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
</div>
